<footer class="bg-gray-50 py-8">
  <div class="max-w-7xl mx-auto px-4">
    <div class="text-center text-sm text-gray-600 space-y-4">
      <div class="flex justify-center space-x-4">
        <a href="/topshelf/privacy-policy" class="hover:text-gray-900">Privacy Policy</a>
        <span>|</span>
        <a href="/topshelf/disclaimer" class="hover:text-gray-900">Disclaimer</a>
      </div>
      <p>https://www.healthbodybalance.org @ 2025 All Rights Reserved.</p>
      <p class="text-xs">
        This site is not a part of the Facebook website or Facebook Inc. Additionally, This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.
      </p>
    </div>
  </div>
</footer> 